name: Build WONDERFULAND

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install pyinstaller PyQt5 minecraft-launcher-lib requests Pillow psutil

    - name: Build EXE
      run: pyinstaller main.py --name WONDERFULAND --onefile --noconsole --clean --collect-all minecraft_launcher_lib --collect-all PyQt5 --collect-all requests --collect-all PIL --collect-all psutil

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: WONDERFULAND_BUILD
        path: dist/WONDERFULAND.exe

    - name: Publish Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: auto-build
        name: WONDERFULAND Auto Build
        files: dist/WONDERFULAND.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
